@using WebApplication1.csproj.Models
@using WebApplication1.Models;

@model List<Department>
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form method="post" action="/Department/SaveAdd">
    <div class="mb-3">
        <label>Name</label>
        <input name="Name" id="Name" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Manager Name</label>
        <input name="MangerName" id="MangerName" type="text" class="form-control" />
    </div>

    <input type="submit" value="Create" class="btn-primary" />

    <a href="/Department/Index"> Back To List</a> 

</form>

