@using WebApplication1.csproj.Models
@using WebApplication1.Models;
@model List<Department>
<h2>All Departments</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Manager Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.Id</td>
                <td>@dept.Name</td>
                <td>@dept.MangerName</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Department/Add" class="btn btn-primary">Add New Department</a>
