@using WebApplication1.ViewModel
@using WebApplication1.Models

@model EmpDeptColorTempMsgBranchesViewModel

@{
    ViewData["Title"] = "DetailsMV";
}

<h1 style="color:@Model.Color">DetailsMV</h1>

@Model.EmpName
@Model.DepName
@Model.Color

<select>
    @foreach(var Item in Model.Branches)
    {
        <option>@Item</option>
    }
</select>

