@{
    ViewData["Title"] = "H0ome Page";
}
<style>
    h1 {
        color: blue;
    }
</style>

<a asp-controller="Student" asp-action="ShowAll" class="btn btn-primary mt-3">
    Show All Students
</a>
<h1 class="text-center">All Students</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image URL</th>

        </tr>
    </thead>
    <tbody>

<div class="text-center">
    <h1 class="display-4">Welcome This is the First Project in ASP.NET CORE MVC</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

