@model List<Helmets>

<h2 class="text-center mb-4">Motorcycle Helmets</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <img src="@Url.Content("~/images/" + item.ImageUrl)"
                     class="card-img-top"
                     style="height:200px;object-fit:cover;" />
                <div class="card-body">
                    <h5 class="card-title">@item.Brand</h5>
                    <p class="card-text">Color: @item.Color</p>
                    <p class="card-text fw-bold">@item.Price EGP</p>
                </div>
            </div>
        </div>
    }
</div>
